<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <% if (isSelf) { %>
    <h1>Greetings <%= profile.name %>!</h1>
  <% } else { %>
    <h1><%= profile.name %> </h1>
  <% } %> 
    
  <% if (profile.galaxies.length) { %>
      <h2></h2>
      <h2> <%= isSelf ? "You have " : `${profile.name} has ` %> <a class="profile-ref" href="/galaxies/mygalaxies"><%= `${profile.galaxies.length} Galaxies` %></a>!</h2>
  <% } else { %>
    <h3>
      <%= isSelf ? "You don't " : `${profile.name} doesn't ` %>have any galaxies!
    </h3>
  <% } %>
  <% if (profile.planets.length) { %>
    <h2> <%= isSelf ? "You have " : `${profile.name} has ` %><a class="profile-ref" href="/planets/myplanets"><%= `${profile.planets.length} Space Objects` %></a>!</h2>
<% } else { %>
  <h3>
    <%= isSelf ? "You don't " : `${profile.name} doesn't ` %>have any Space Objects!
  </h3>
<% } %>
<div class="main-button-container">
  <a href="/galaxies/new" class="btn btn-primary btn-lg">Add Galaxy</a>
  <a href="/planets/new" class="btn btn-primary btn-lg">Add Space Object</a>
</div>
</main>

<%- include('../partials/footer') %>