<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <% if (isSelf) { %>
    <h1>Greetings <%= profile.name %>!</h1>
  <% } else { %>
    <h1><%= profile.name %> </h1>
  <% } %> 
    
  <% if (profile.galaxies.length) { %>
      <h2><%= isSelf ? "You have: " : `${profile.name} has: ` %></h2>
      <h3> <%= `${profile.galaxies.length} galaxies!` %> </h3>
  <% } else { %>
    <h3>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any galaxies!
    </h3>
  <% } %>
  <% if (profile.planets.length) { %>
    <h2><%= isSelf ? "You have: " : `${profile.name} has: ` %></h2>
    <h3> <%= `${profile.planets.length} planets!` %> </h3>
<% } else { %>
  <h3>
    <%= isSelf ? "You don't " : `${profile.name} doesn't` %> have any planets!
  </h3>
<% } %>
<a href="/planets/myplanets">My Planets</a>
<a href="/galaxies/mygalaxies">My Galaxies</a>
<a href="/planets/new">Add new Planet</a>
<a href="/galaxies/new">Add new Galaxy</a>
</main>

<%- include('../partials/footer') %>