<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

  <main>
    <h1 class="title" ><%= title %></h1>
    <% if (user) { %> 
      <a href="/galaxies/new" class="btn btn-primary btn-lg add-btn">Add Galaxy</a>
    <% } %>   
    <% galaxies.forEach(galaxy => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <% if (galaxy.imgUrl) { %>
            <img
              src="<%= galaxy.imgUrl %>" 
              alt="<%= galaxy.name %>"
            />
          <% } else { %>
            <img
              src="/images/defaultGalaxy.jpeg" 
              alt="placeholder"
            >
          <% } %>
          <h2 class="card-title"><%= galaxy.name %></h2>
          <p class="card-text">Created by: <a class="prof-card" href="/profiles/<%= galaxy.createdBy._id %>"><%= galaxy.createdBy.name %></a></p>
          <% if (galaxy.description) { %> 
            <p class="card-text"> Description: <br><%= galaxy.description %></p>
          <% } %> 
          <a href="/galaxies/<%= galaxy._id %>" class="btn btn-primary look">Look inside</a>
        </div>
      </div>
      <% }) %>
      
  </main>

  <%- include('../partials/footer') %>
