<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1><%= title %></h1>

    <% galaxies.forEach(galaxy => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <% if (galaxy.imgUrl) { %>
            <img
              src="<%= galaxy.imgUrl %>" 
              alt="<%= galaxy.name %>"
            />
          <% } else { %>
            <img
              src="/images/defaultGalaxy.jpeg" 
              alt="placeholder"
            >
          <% } %>
          <h2 class="card-title"><%= galaxy.name %></h2>
          <p class="card-text">Created by: <a href="/profiles/<%= galaxy.createdBy._id %>"><%= galaxy.createdBy.name %></a></p>
          <p class="card-text"><%= galaxy.description %></p>
          <a href="/galaxies/<%= galaxy._id %>" class="btn btn-primary">Look inside</a>
          <!-- <form action="/galaxies/<%= galaxy._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
            <a href="/galaxies/<%= galaxy._id %>/edit" class="btn btn-success">Edit</a> -->
        </div>
      </div>
      <% }) %>
      
  </main>

  <%- include('../partials/footer') %>
