<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= galaxy.name %> Galaxy!</h1>
  <div>
    <p>Created by: <a href="/profiles/<%= galaxy.createdBy._id %>"><%= galaxy.createdBy.name %></a></p>
    <p>Description: <%= galaxy.description %></p>
  </div>
  <div>
    <h2>Planets:</h2>
    <% galaxy.planets.forEach(planet => { %> 
    <p><%= planet.name %> </p>
    <% }) %> 
  </div>
  </main>

<%- include('../partials/footer') %>