<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1 class="title" ><%= title %></h1>
    <% if (user) { %> 
      <a href="/planets/new" class="btn btn-primary btn-lg add-btn">Create Space Object</a>
    <% } %>
    <% planets.forEach(planet => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <% if (planet.imgUrl) { %>
            <img
              src="<%= planet.imgUrl %>" 
              alt="<%= planet.name %>"
            />
          <% } else { %>
            <img
              src="/images/planets/default<%= planet.type %>.jpeg" 
              alt="placeholder"
            >
          <% } %>
          <h2 class="card-title"><%= planet.name %></h2>
          <p class="card-text">Type: <%= planet.type %></p>
          <% if (planet.size) {%> 
            <p class="card-text">Size: <%= planet.size %> mile diameter</p>
          <% } %>
          <p class="card-text">Created by: <a class="prof-card" href="/profiles/<%= planet.createdBy._id %>"><%= planet.createdBy.name %></a></p>
          <% if (user) {%> 
            <% if (planet.shared) { %> 
              <p>This Space Object is shared</p>
              <% if (galaxies.length) { %> 
                <% if (galaxies.length !== checkAll(galaxies, planet)) {%> 
                  <form 
                   action="/galaxies/<%= planet._id %>/planets"
                  method="post"
                  >
                  <label> Choose your Galaxy:
                  <select name="galaxyId">
                  <% galaxies.forEach(galaxy => { %>
                  <% if (!(galaxy.planets.includes(planet._id))) {%> 
                  <option value="<%= galaxy._id %>"><%= galaxy.name %></option>
                    <% } %>
                  <% }) %>
                  </select>
                  </label>
                  <button type="submit" class="btn btn-primary add">Add</button>
                  </form>
                  <% } else { %>
                    <p>This Space Object is already in all your Galaxies</p>
                  <% } %> 
              <% } else { %>
                <p>You don't have any Galaxies yet <a href="/galaxies/new" class="btn btn-primary">Add Galaxy</a></p>
              <% } %>
            <% } else {%>
              <p>This Space Object is not shared</p>
            <% } %> 
          <% } %> 
        </div>
      </div>
      <% }) %>

      <% function checkAll(galaxies, planet) { %>
        <% let total = 0 %>
        <%  galaxies.forEach(galaxy => {%>
        <%  if (galaxy.planets.includes(planet._id)) {%>
          <% total += 1 }%>
          <% %> 
        <% }) %>  
        <% return total %>
      <% } %>

  </main>

  <%- include('../partials/footer') %>
