<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1><%= title %></h1>

    <% planets.forEach(planet => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <% if (planet.imgUrl) { %>
            <img
              src="<%= planet.imgUrl %>" 
              alt="<%= planet.name %>"
            />
          <% } else { %>
            <img
              src="/images/planets/default<%= planet.type %>.jpeg" 
              alt="placeholder"
            >
          <% } %>
          <h2 class="card-title"><%= planet.name %></h2>
          <p class="card-text">Type: <%= planet.type %></p>
          <p class="card-text">Speed: <%= planet.speed %> mph</p>
          <p class="card-text">Created by: <a href="/profiles/<%= planet.createdBy._id %>"><%= planet.createdBy.name %></a></p>
          <% if (galaxies.length) { %> 
            <form 
             action="/galaxies/<%= planet._id %>/planets"
            method="post"
            >
            <label> Choose your Galaxy:
            <select name="galaxyId">
            <% galaxies.forEach(galaxy => { %>
            <% if (!(galaxy.planets.includes(planet._id))) {%> 
            <option value="<%= galaxy._id %>"><%= galaxy.name %></option>
              <% } %>
            <% }) %>
            </select>
            </label>
            <button type="submit" class="btn btn-primary">Add</button>
            </form>
          <% } else { %>
            <p>You don't have any Galaxies yet <a href="/galaxies/new" class="btn btn-primary">Create new Galaxy</a></p>
          <% } %>
          <form action="/planets/<%= planet._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
            <a href="/planets/<%= planet._id %>/edit" class="btn btn-success">Edit</a>
        </div>
      </div>
      <% }) %>
      
  </main>

  <%- include('../partials/footer') %>
