<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1><%= title %></h1>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Image</th>
          <th>Speed</th>
        </tr>
      </thead>
      <tbody>
        <% planets.forEach(planet => { %>
          <tr>
            <td><%= planet.type %></td>
            <td><%= planet.name %></td>
            <td><%= planet.imgUrl %> </td>
            <td><%= planet.speed %> </td>
          <td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>

  <%- include('../partials/footer') %>
